# This workflow will install Python dependencies, run tests and lint with a single version of Python
# For more information see: https://help.github.com/actions/language-and-framework-guides/using-python-with-github-actions

name: pt_say_thanks

on:
  watch:
    types: [ started ]
  push:
    branches: [master]
  pull_request:
    branches: [master]
  schedule:
    - cron: '5 0/4 * * *'

jobs:
  pt_say_thanks:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Set up Python 3.8
        uses: actions/setup-python@v4
        with:
          python-version: 3.8

      - name: 'Install dependencies'
        run: python -m pip install --upgrade requests

      - name: pt_say_thanks
        run: python run.py saythanks
        env:
          CONFIG: ${{ secrets.CONFIG }}

      - name: Add & Commit
        run: |
          git config --local user.email "41898282+github-actions[bot]@users.noreply.github.com"
          git config --local user.name "github-actions[bot]"
          git add ./config.ini
          git commit -am "generated at ${{ steps.date.outputs.date }}"
          git push -f origin master